.oo-ui-draggableElement .deleteChapterIcon{
  display: none;
  color: red;
  margin-top: 4px;
}
.oo-ui-draggableElement:hover .deleteChapterIcon{
  display: inline-block;
}

.oo-ui-draggableElement:hover{
  background-color: #eee;
}
